.anchor:link {
  color: white;
  background-color: black;
}
.anchor:visited {
  color: green;
  background-color: orange;
}
.anchor:active {
  border: 3px solid red;
}
.some-button:active {
  border: 3px solid red;
}
.anchor:hover {
  font-size: 24px;
}
.some-button:disabled {
  border: 2px solid grey;
}
.some-button:enabled:hover {
  color: white;
  background-color: grey;
}
.search:focus {
  background-color: orange;
}
.confirm-checkbox:checked {
  margin-left: 20px;
}
